* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1a1a1a;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 147px;
	padding-right: 147px;
}

.site-header {
	height: 100px;
	font-size: 14px;
	color: #696969;
	display: flex;
	align-items: center;
}
.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	width: 125px;
	height: 22px;
}

.site-header__nav {
	display: flex;
	align-items: center;
}

.site-header__list {
	display: flex;
	align-items: center;
	margin-right: 55px;
}
.site-header__items {
	list-style: none;
}

.site-header__items:not(:last-child) {
	margin-right: 46px;
}

.site-header__link {
	color: #696969;
	font-size: 14px;
	text-decoration: none;
	transition: all 0.4s ease;
}

.site-header__link:hover {
	color: white;
}

.site-header__btn {
	width: 138px;
	height: 47px;
	border-radius: 30px;
	border: 2px solid #696969;
	background-color: black;
	color: white;
	transition: all 0.2s ease;
}

.site-header__btn:hover {
	background-color: transparent;
}

.site-header__btn:active {
	background-color: black;
}

/* hero start */
.site-hero {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../images/bgimages/katta-bgimg.png);
	background-repeat: no-repeat;
	background-position-x: 700px;
	background-position-y: 10px;
	background-size: contain;
}

.site-hero__container {
	color: white;
	width: 100%;
	font-size: 72px;
	line-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.site-title {
	margin-top: 191px;
	color: white;
}
.site-hero__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 242px;
	height: 65px;
	border-radius: 33px;
	margin-top: 93px;
	border: none;
	font-size: 13px;
	color: white;
	background-color: #ff9142;
}

.site-hero__btn:hover {
	background-color: #ec9455;
}

.site-hero__btn:active {
	color: white;
	background-color: transparent;
	width: 242px;
	height: 65px;
	border: 2px solid #ff9142;
}

.hero-btn__img {
	width: 16px;
	height: 10px;
	margin-left: 24px;
}
/* hero end */

/* hero1 start */

.site-hero1__container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 230px;
	background-image: url(../images/bgimages/katta-bgimg.png);
	background-repeat: no-repeat;
	background-position-x: -300px;
	background-position-y: -50px;
	background-size: auto;
}
.hero1-texts {
	height: 760px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	letter-spacing: 2px;
}
.hero1-title {
	color: white;
	font-size: 56px;
	line-height: 50px;
}
.hero1-text {
	margin-top: 26px;
	color: white;
	font-size: 18px;
}
.hero1-btn {
	color: white;
	width: 288px;
	height: 60px;
	margin-top: 76px;
	border-radius: 47px;
	color: rgb(253, 202, 202);
	border: none;
	background-color: #ff9142;
	transition: all 0.2s ease;
}

.hero1-btn:hover {
	background-color: #ec9455;
}

.hero1-btn:active {
	background-color: transparent;
	width: 288px;
	height: 60px;
	border: 2px solid #ff9142;
}

.hero1-images {
	width: 454px;
	height: 506px;
	margin-left: 65px;
	position: relative;
}

.hero1-image {
	width: 454px;
	height: 506px;
}

.images-div1 {
	width: 110px;
	height: 34px;
	border: 2px solid #ff9142;
	border-radius: 30px;
	position: absolute;
	position: absolute;
	top: -17px;
	right: 1px;
}
.images-div2 {
	width: 55px;
	height: 178px;
	border: 2px solid #ff9142;
	border-radius: 30px;
	position: absolute;
	bottom: 48px;
	left: -40px;
}

/* hero1 end */

.title-btn {
	width: 100%;
	height: 565px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../images/bgimages/katta-bgimg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: 550px;
	background-position-y: -30px;
}
.div-title {
	letter-spacing: 3px;
	font-size: 54px;
	color: white;
}
.div-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 242px;
	height: 65px;
	border-radius: 32.5px;
	margin-top: 54px;
	border: 2px solid #ff9142;
	font-size: 13px;
	color: white;
	background-color: transparent;
	transition: all 0.4s ease;
}

.div-btn:active {
	border: 2px solid #ec9455;
	background-color: #ff9142;
}

.div-btn__img {
	width: 16px;
	height: 10px;
	margin-left: 24px;
}

/* hero2 srart */
.site-hero2 {
}

.site-hero2__container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.site-hero2__list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-left: 28px;
}
.site-hero2__items {
	margin-right: 20px;
	margin-top: 94px;
	width: 560px;
	height: 768px;
	list-style: none;
}

.h3-span {
	display: flex;
	flex-direction: column;
}

.hero2-images {
	width: 560px;
	height: 620px;
}
.hero2-title {
	letter-spacing: 3px;
	color: white;
	font-size: 24px;
}
.line {
	margin-left: 32px;
	width: 48px;
	height: 1px;
	background-color: #ff9142;
}

.hero2-text {
	font-size: 14px;
	margin-top: 32px;
	color: #696969;
}

.text1 {
	margin-top: 8px;
}

span {
	color: white;
}
/* hero2 end */
